* {
    box-sizing: border-box;
}

button {
    border: 0;
    font-family: inherit;
}

body {
    margin: 0;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    /*border: 1px solid black;*/
    padding: 5px 10px;
    min-width: 100px;
    background: white;
    border-radius: 5px;
    font-size: 2.5rem;
    cursor: pointer;
}

.btn::before {
    content: "\2600";
}

.app {
    height: 100vh;
}

.dark {
    background-color: black;
    color: aliceblue;
}

.dark-btn::before {
    content: "\263E";
   
}